.dl-trigger{
	display: none;
}

.reading-time{
	display: none;
}

a.btn, a.zoombtn{
	display: none;
}

span.social-share{
	display: none !important;
}

footer{
	display: none !important;
}

body{
	background-color:#f8f8f2 !important;
	font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif !important;
}

blockquote{
	font-style:normal !important;
	color:#6C7A89 !important;
	border-color: #87adcc !important;
	font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif !important;
}

p{
	/*color: #515151 !important;*/
	font-size: 1rem;
}

h3{
	font-size: 1.5rem !important;
	color: #87adcc !important;
}

.content>p{
	text-indent: 2em;
}

hr~p{
	text-indent: 0 !important;
}

.content,p{
	font-size:1.1rem !important;
}

a:link{
	color: #87adcc !important;
}